<template>
  <v-app-bar app flat class="app-header">
    <v-app-bar-nav-icon
      class="app-header__burger"
      @click.prevent="burgerClicked"
    ></v-app-bar-nav-icon>
    <v-toolbar-title class="app-header__title">{{ pageTitle }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <search class="app-header__search" />
    <v-btn
      class="app-toolbar__button--login primary"
      v-if="!loggedIn"
      nuxt
      to="login"
      >{{ $t("links.login") }}</v-btn
    >
    <v-menu offset-y>
      <template v-if="loggedIn" v-slot:activator="{ on }">
        <v-btn v-on="on" icon>
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item v-for="item in menuItems" :key="item.title">
          <nuxt-link class="app-header__dropdown-link" :to="item.to">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </nuxt-link>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import Search from "@/components/Search/Search";

export default {
  components: {
    search: Search,
  },
  data() {
    return {
      menuItems: [
        {
          title: this.$t("profile.my-profile"),
          to: this.$store.state.auth.user.username,
        },
        { title: this.$t("links.logout"), to: "/logout" },
      ],
    };
  },
  computed: {
    pageTitle() {
      return this.$store.state.app.title;
    },
    loggedIn() {
      return this.$store.getters["auth/isAuthenticated"];
    },
  },
  methods: {
    burgerClicked() {
      this.$store.commit("app/toggleDrawer", true);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/variables";

.app-header {
  box-shadow: 0ch;
  background-color: whitesmoke !important;

  &__title {
    color: $color-font-color;
    font-size: 22px;
  }

  &__dropdown-link {
    text-decoration: none;
    color: $color-font-color;
    &:hover {
      color: $color-primary;
    }
  }

  &__burger{
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__search {
     @media (max-width: $tablet) {
      display: none;
    }
  }
}
</style>
