<template>
  <div class="card">
    <h1 class="card__title">
      {{ project.name }}
    </h1>
    <p class="card__description">
      {{ project.description }}
    </p>

    <div class="card__cta-wrapper">
      <nuxt-link
        class="card__team-wrapperLink"
        :to="project.teamSlug"
      >
        <img
          class="card__team-logo"
          :src="project.teamLogo"
        />
        <span
          class="card__team-title"
          >{{ project.team }}</span
        >
      </nuxt-link>
      <v-btn
        class="card__cta"
        nuxt
        :to="project.slug"
        >{{
          $t(
            "browse-projects.go-to-Project"
          )
        }}</v-btn
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      validator: (project) => {
        return (
          project.name &&
          project.description &&
          project.slug &&
          project.team &&
          project.teamLogo &&
          project.teamSlug
        );
      },
    },
  },
};
</script>
