@import "./variables";

.authForm {
  margin: 3% auto;
  text-align: center;
  max-width: 260px;
  @media (min-width: $tabletLarge) {
    max-width: 400px;
  }

  &--logo {
    width: 100%;
    max-width: 125px;
    height: auto;
    margin: 8px auto;
    margin-bottom: 20px;
    @media (min-width: $tabletLarge) {
      max-width: 190px;
      margin-bottom: 30px;
    }
  }

  &--button {
    border-radius: 20px;
    width: 220px;

    font-size: 18px;
    max-height: 200px;
    margin-top: 25px;
    background-color: $color-secondary !important;
    color: white;
    @media (min-width: $tabletLarge) {
      width: 300px;
      font-size: 18px;
      margin-top: 50px;
      margin-bottom: 0;
    }
  }

  &--alert {
    font-size: 14px;
  }

  &--label {
    color: $color-base;
    margin-top: 30px;

    @media (min-width: $tabletLarge) {
      margin-top: 50px;
    }
  }

  &--label-link {
    text-decoration: none;
    color: $color-base;
    &:hover {
      color: darken($color-base, 30%);
    }
  }

  &--field {
    margin: 3px;
  }

  &--screen-switcher-div {
    position: absolute;
    top: 3%;
    right: 3%;
  }

  &--screen-switcher-span {
    margin-right: 10px;
    color: darken($color-base, 30%);
  }

  &--screen-switcher-button {
    color: $color-base;
  }

  &--screen-switcher-p {
    margin: 5px auto;
    text-align: center;

    color: $color-base;
  }

  &--screen-switcher-link {
    margin-left: 4px;
    color: lighten($color-secondary, 10%);
    text-decoration: none;
  }
}
