/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Open Sans";
  src: url("../static/fonts/Open-sans/OpenSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("../static/fonts/Open-sans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../static/fonts/Open-sans/OpenSans-Regular.otf")
      format("opentype"),
    /* Open Type Font */ url("../static/fonts/Open-sans/OpenSans-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../static/fonts/Open-sans/OpenSans-Regular.woff") format("woff"),
    /* Modern Browsers */
      url("../static/fonts/Open-sans/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans - SemiBold";
  src: url("../static/fonts/Open-sans/OpenSans-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../static/fonts/Open-sans/OpenSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../static/fonts/Open-sans/OpenSans-SemiBold.otf")
      format("opentype"),
    /* Open Type Font */ url("../static/fonts/Open-sans/OpenSans-SemiBold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../static/fonts/Open-sans/OpenSans-SemiBold.woff") format("woff"),
    /* Modern Browsers */
      url("../static/fonts/Open-sans/OpenSans-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
