// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
@import "~vuetify/src/styles/styles.sass";

// The variables you want to modify
// $font-size-root: 20px;
$color-white: #fff;
$color-base: whitesmoke;
$color-primary: #036667;
$color-secondary: #1cb78c;
$color-font-color: #787878;
$color-danger: #e74c3c;
$color-base-dark: #222;

//Typography
$open-sans: "Open Sans";
$open-sans-semibold: "Open Sans - SemiBold";

//Breakpoints
$tablet: 600px;
$tabletLarge: 960px;
$desktop: 1264px;
