<template>
  <v-app dark>
    <app-header/>
    <navigation-drawer/>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import AppHeader from "@/components/AppHeader/AppHeader";
import NavigationDrawer from "@/components/NavigationDrawer/NavigationDrawer";

export default {
  components: {
    "app-header": AppHeader,
    "navigation-drawer": NavigationDrawer
  },
  head() {
    return {
    };
  },
};
</script>
