<template>
  <div class="profile__wrapper">
    <v-btn v-if="isOwnProfile" class="profile__edit-button" nuxt to="/profile">
      <v-icon class="profile__edit-button--icon">mdi-pencil</v-icon>
      <span class="profile__edit-button--span">{{
        $t("profile.edit-profile")
      }}</span></v-btn
    >
    <v-container class="profile__main_container">
      <v-img class="profile__image" :src="imgsrc"> </v-img>
      <p class="profile__fullname">{{ userFullName }}</p>
      <p v-if="!loading" class="profile__username">@{{ user.username }}</p>
      <p class="profile__description">{{ user.description }}</p>

      <v-progress-circular
        indeterminate
        color="primary"
        v-if="loading"
      ></v-progress-circular>
    </v-container>

    <v-container>
      <v-row>
        <v-col cols="12" md="6" class="profile__teams">
          <div>
            <span class="profile__teams-title">
              {{ $t("profile.projects") }}
            </span>
            <hr />
            <div class="profile__cards-container">
              <project-card
                class="profile__teams-card"
                v-for="project in projects"
                :key="project.title"
                :project="project"
              />
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="6" class="profile__teams">
          <div>
            <span class="profile__teams-title"> {{ $t("profile.teams") }}</span>
            <hr />
            <div class="profile__cards-container">
              <team-card
                class="profile__teams-card"
                v-for="team in teams"
                :key="team.name"
                :team="team"
              ></team-card>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import authenticatedRoute from "../mixins/authenticatedRoute";
import _ from "lodash";

import ProjectCard from "@/components/card/ProjectCard";
import TeamCard from "@/components/card/TeamCard";

export default {
  head() {
    return {
      title: this.$data.user.username,
    };
  },
  components: {
    "project-card": ProjectCard,
    "team-card": TeamCard,
  },
  layout: "default",
  data() {
    return {
      user: {
        username: this.$t("links.profile"),
        email: "",
        description: "",
        firstName: "",
        lastName: "",
      },
      imgsrc: require("../static/logo/profile-placeholder.png"),
      isOwnProfile: false,
      projects: [
        {
          name: "Weather Station",
          description: "A collection of weather measurements",
          slug: "wstation",
          team: "OpenSCN team",
          teamSlug: "openscn",
          teamLogo: require("@/static/logo/openscn-team.jpg"),
        },
        {
          name: "Amphitheatre Thermostat",
          description: "Temp and humidity of main amphitheatre",
          slug: "wstation",
          team: "OpenSCN team",
          teamSlug: "openscn",
          teamLogo: require("@/static/logo/openscn-team.jpg"),
        },
      ],
      teams: [
        {
          name: "OpenSCN",
          description: "Open Source Collaborators",
          slug: "openscn",
          profilePicture: require("../static/logo/profile-placeholder.png"),
        },
        {
          name: "IHU Management",
          description: "IHU staff and maintainers",
          slug: "ihu-management",
          profilePicture: require("../static/logo/profile-placeholder.png"),
        },
      ],
      loading: false,
    };
  },
  computed: {
    userFullName() {
      return `${this.$data.user.firstName} ${this.$data.user.lastName}`;
    },
  },
  created() {
    this.$data.loading = true;
  },
  mounted() {
    this.getUserInfo().then((user) => {
      this.$data.user = user;
      this.$store.commit(
        "app/setTitle",
        `@${this.$data.user.username} - ${this.$t("links.profile")}`
      );
    });
  },
  mixins: [authenticatedRoute],
  methods: {
    async getUserInfo() {
      const requestedUsername =
        this.$i18n.getLocaleCookie() === "en"
          ? this.$route.path.substring(1)
          : this.$route.path.substring(4);
      if (requestedUsername === this.$store.state.auth.user.username) {
        this.$data.loading = false;
        this.$data.isOwnProfile = true;
        return this.$store.state.auth.user;
      } else {
        try {
          const response = await this.$axios.get(
            `http://localhost:3000/users/${requestedUsername}`,
            {
              headers: {
                "Content-Type": "application/json",
              },
            }
          );
          this.$data.loading = false;
          return _.pick(response.data.payload, [
            "username",
            "email",
            "description",
            "firstName",
            "lastName",
          ]);
        } catch (error) {
          console.log(error);
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/variables";

.profile {
  &__wrapper {
    margin: 0 auto;
  }

  &__edit-button {
    background-color: $color-primary !important;
    color: $color-base !important;
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 15px;
    @media (max-width: $tablet) {
      padding: 0;
    }

    &--icon {
      font-size: 22px;
      @media (max-width: $tablet) {
        font-size: 20px;
      }
    }

    &--span {
      margin-left: 6px;
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__main_container {
    text-align: center;
    margin: 0 auto;
    max-width: 1240px;
  }

  &__image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 5vh;
  }

  &__fullname {
    margin-top: 2vh;
    font-size: 1.3rem;
  }

  &__username {
    font-size: 1rem;
    color: $color-font-color !important;
  }

  &__description {
    margin-top: 10px;
  }

  &__projects {
    hr {
      height: 1px;
      color: $color-font-color;
      background-color: $color-font-color;
      border: none;
    }
    &-title {
      // font-family: $font-primary;
      color: $color-font-color;
      font-size: 25px;
    }
  }

  &__cards-container {
    @media (max-width: $tabletLarge) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__teams {
    &-container {
      padding: 20px 10px;
    }

    &-card {
      margin-bottom: 20px;
    }
    hr {
      height: 1px;
      color: $color-font-color;
      background-color: $color-font-color;
      border: none;
    }
    &-title {
      // color: $color-primary;
      font-size: 25px;
    }
  }
}
</style>
