<template>
  <div
    class="browse-teams card-browser"
  >
    <team-card
      class="profile__teams-card"
      v-for="team in teams"
      :key="team.name"
      :team="team"
    ></team-card>
  </div>
</template>

<script>
import TeamCard from "@/components/card/TeamCard";
export default {
  data() {
    return {
      teams: [
        {
          name: "OpenSCN",
          description:
            "Open Source Collaborators",
          slug: "openscn",
          profilePicture: require("../static/logo/profile-placeholder.png"),
        },
        {
          name: "IHU Management",
          description:
            "IHU staff and maintainers",
          slug: "ihu-management",
          profilePicture: require("../static/logo/profile-placeholder.png"),
        },
      ],
    };
  },
  components: {
    TeamCard: TeamCard,
  },
  head() {
    return {
      title: this.$t(
        "browse-teams.title"
      ),
    };
  },
  mounted() {
    this.$store.commit(
      "app/setTitle",
      this.$t("browse-teams.title")
    );
  },
};
</script>
