<template>
  <div
    class="browse-projects card-browser"
  >
    <project-card
      class="profile__teams-card"
      v-for="project in projects"
      :key="project.name"
      :project="project"
    />
  </div>
</template>

<script>
import ProjectCard from "@/components/card/ProjectCard";
export default {
  data() {
    return {
      projects: [
        {
          name: "Weather Station",
          description:
            "A collection of weather measurements",
          slug: "wstation",
          team: "OpenSCN team",
          teamSlug: "openscn",
          teamLogo: require("@/static/logo/openscn-team.jpg"),
        },
        {
          name:
            "Amphitheatre Thermostat",
          description:
            "Temp and humidity of main amphitheatre",
          slug: "wstation",
          team: "OpenSCN team",
          teamSlug: "openscn",
          teamLogo: require("@/static/logo/openscn-team.jpg"),
        },
      ],
    };
  },
  components: {
    ProjectCard: ProjectCard,
  },
  head() {
    return {
      title: this.$t(
        "browse-projects.title"
      ),
    };
  },
  mounted() {
    this.$store.commit(
      "app/setTitle",
      this.$t("browse-projects.title")
    );
  },
};
</script>
