<template>
  <v-app class="dark">
    <p>hi</p>
  </v-app>
</template>

<script>
export default {
  components: {},
  beforeCreate() {
    let localeUrl =
      this.$i18n.locale === this.$i18n.defaultLocale
        ? ""
        : `${this.$i18n.locale}/`;

    if (this.$store.getters["auth/isAuthenticated"])
      this.$router.push({
        path: `${localeUrl}subbed-projects`
      });
    else
      this.$router.push({
        path: `${localeUrl}browse-projects`
      });
  }
};
</script>

<style lang="scss"></style>
