<template>
  <div>
    <div v-if="!mobile" class="authForm--screen-switcher-div">
      <span class="authForm--screen-switcher-span">
        {{ $t("login.forgot-password") }}
      </span>
      <v-btn
        nuxt
        to="/signup"
        outlined
        class="authForm--screen-switcher-button"
        >{{ $t("login.signup") }}</v-btn
      >
    </div>

    <v-form ref="form" class="authForm">
      <v-img class="authForm--logo" :src="logosrc"></v-img>
      <v-alert class="authForm--alert" v-if="errorMessage" type="error">{{
        errorMessage
      }}</v-alert>
      <v-text-field
        v-for="field in fields"
        :key="field.name"
        :prepend-inner-icon="field.icon"
        dark
        color="secondary"
        class="authForm--field"
        v-model="formData[field.name]"
        :label="field.label"
        :type="field.type"
        :rules="field.validationRules"
        @keyup.enter.native="loginRequest"
      ></v-text-field>
      <v-btn large class="authForm--button" @click="loginRequest">{{
        $t("login.login")
      }}</v-btn>

      <p class="authForm--label">
        <nuxt-link class="authForm--label-link" to="forgot-password">{{
          $t("login.forgot-password")
        }}</nuxt-link>
      </p>
    </v-form>

    <div>
      <p v-if="mobile" class="authForm--screen-switcher-p">
        {{ $t("login.forgot-password") }}
        <nuxt-link class="authForm--screen-switcher-link" to="/signup">{{
          $t("login.signup")
        }}</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
import nonAuthenticatedRoute from "../mixins/nonAuthenticatedRoute";

export default {
  layout: "login-signup",
  head() {
    return {
      title: this.$t("links.login")
    };
  },
  data() {
    return {
      formData: {
        username: null,
        password: null
      },
      fields: [
        {
          name: "username",
          label: this.$t("form.username"),
          icon: "mdi-account",
          type: "text",
          validationRules: [
            usernameValue =>
              !!usernameValue || this.$t("form.username-is-required")
          ]
        },
        {
          name: "password",
          label: this.$t("form.password"),
          icon: "mdi-lock",
          type: "password",
          validationRules: [
            passwordValue =>
              !!passwordValue || this.$t("form.password-is-required")
          ]
        }
      ],
      errorMessage: "",
      logosrc: require("@/static/logo/full-logo-font.png")
    };
  },
  mixins: [nonAuthenticatedRoute],
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.mdAndDown;
    },
    authStatus() {
      return this.$store.state.auth.status;
    }
  },
  methods: {
    loginRequest() {
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch("auth/login", {
            username: this.$data.formData.username,
            password: this.$data.formData.password
          })
          .then(() => {
            this.$router.push({
              path: "/subbed-projects"
            });
          })
          .catch(err => console.log(err));
      }
    }
  },
  watch: {
    authStatus() {
      switch (this.$store.state.auth.status) {
        case 404:
          this.$data.errorMessage = this.$t("login.user-not-found");
          break;
        case 401:
          this.$data.errorMessage = this.$t("login.wrong-password");
          break;
        default:
          this.$data.errorMessage = "";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/authForm";
</style>
