<template>
  <div>
    <p>MY TEAMS</p>
  </div>
</template>

<script>
import authenticatedRoute from "../mixins/authenticatedRoute";

export default {
  head() {
    return {
      title: this.$t("my-teams.title")
    };
  },
  mixins: [authenticatedRoute],
  created() {
    this.$store.commit("app/setTitle", this.$t("my-teams.title"));
  }
};
</script>
