<template>
  <div>
    <p>new</p>
  </div>
</template>

<script>
import authenticatedRoute from "../mixins/authenticatedRoute";

export default {
  head() {
    return {
      title: this.$t("new-project.title")
    };
  },
  mixins: [authenticatedRoute],
  mounted() {
    this.$store.commit("app/setTitle", this.$t("new-project.title"));
  }
};
</script>
