<template>
  <div class="edit-profile">
    <v-app-bar flat>
      <v-btn icon nuxt :to="profileLink">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      <v-toolbar-title class="edit-profile__title">{{
        $t("profile-edit.title")
      }}</v-toolbar-title>
    </v-app-bar>
   
    <v-container>
      <h2>{{ $t("profile-edit.profile-picture") }}</h2>
      <div class="edit-profile__section">
        <div class="edit-profile__image-container">
          <v-img :src="user.profilePicture" class="edit-profile__image"></v-img>
          <v-file-input
            class="edit-profile__file-input"
            color="primary"
            label="Upload picture"
            prepend-icon="$file"
            show-size
            accept="image/*"
          ></v-file-input>
          <v-btn class="edit-profile__button">
            {{ $t("profile-edit.save-picture") }}</v-btn
          >
        </div>
        <v-divider></v-divider>
      </div>

      <div class="edit-profile__section">
        <h2>{{ $t("profile-edit.account-info") }}</h2>
        <div class="edit-profile__fields--section-wrapper">
          <div
            class="edit-profile__fields--wrapper"
            v-for="field in accountInfoFields"
            :key="field.name"
          >
            <div class="edit-profile__fields--titles-wrapper">
              <p style="width:250px;" class="edit-profile__fields--title">
                {{ field.text }}
              </p>
            </div>
            <div class="fields-col-wrapper">
              <v-text-field
                color="primary"
                class="edit-profile__fields--field"
                :value="field.value"
              >
              </v-text-field>
            </div>
          </div>
          <v-btn class="edit-profile__button">
            {{ $t("profile-edit.save-changes") }}</v-btn
          >
        </div>
        <v-divider class="edit-profile__divider"></v-divider>
      </div>

      <div class="edit-profile__section">
        <h2>{{ $t("profile-edit.change-password") }}</h2>
        <div class="edit-profile__fields--section-wrapper">
          <div
            class="edit-profile__fields--wrapper"
            v-for="field in passwordFields"
            :key="field.name"
          >
            <div class="edit-profile__fields--titles-wrapper">
              <p style="width:250px;" class="edit-profile__fields--title">
                {{ field.text }}
              </p>
            </div>
            <div class="fields-col-wrapper">
              <v-text-field
                color="primary"
                class="edit-profile__fields--field"
                :value="field.value"
                type="password"
              >
              </v-text-field>
            </div>
          </div>
          <v-btn class="edit-profile__button">
            {{ $t("profile-edit.save-password") }}</v-btn
          >
        </div>
        <v-divider class="edit-profile__divider"></v-divider>
      </div>

      <div style="text-align: center">
        <v-btn class="edit-profile__button--delete">
          {{ $t("profile-edit.delete-account") }}</v-btn
        >
      </div>
    </v-container>
  </div>
</template>

<script>
import authenticatedRoute from "../mixins/authenticatedRoute";

export default {
  mixins: [authenticatedRoute],
  layout: "simple",
  head() {
    return {
      title: this.$t("profile-edit.title"),
    };
  },
  created() {
    this.$store.commit("app/setTitle", this.$t("profile-edit.title"));
  },
  data() {
    return {
      user: {
        username: this.$store.state.auth.user.username,
        email: this.$store.state.auth.user.email,
        description: this.$store.state.auth.user.description,
        firstName: this.$store.state.auth.user.firstName,
        lastName: this.$store.state.auth.user.lastName,
        profilePicture: require("../static/logo/profile-placeholder.png"),
      },
      profileLink: `${
        this.$i18n.getLocaleCookie() === "en"
          ? ""
          : this.$i18n.getLocaleCookie()
      }/${this.$store.state.auth.user.username}`,
      accountInfoFields: [
        {
          name: "firstName",
          text: this.$t("profile-edit.first-name"),
          value: this.$store.state.auth.user.firstName,
        },
        {
          name: "lastName",
          text: this.$t("profile-edit.last-name"),
          value: this.$store.state.auth.user.lastName,
        },
        {
          name: "username",
          text: this.$t("profile-edit.username"),
          value: this.$store.state.auth.user.username,
        },
        {
          name: "description",
          text: this.$t("profile-edit.description"),
          value: this.$store.state.auth.user.description,
        },
      ],
      passwordFields: [
        {
          name: "old-password",
          text: this.$t("profile-edit.old-password"),
        },
        {
          name: "new-password",
          text: this.$t("profile-edit.new-password"),
        },
        {
          name: "new-password-repeat",
          text: this.$t("profile-edit.new-password-repeat"),
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/variables";

h2 {
  color: $color-primary;
  font-size: 22px;
  @media (max-width: $tablet) {
    text-align: center;
  }
}

.edit-profile {
  &__title {
    text-align: center;
    font-family: $open-sans !important;
    color: $color-font-color;
    // margin-bottom: 30px;
    font-size: 22px;
  }

  &__back-button {
    position: absolute;
    top: 12px;
    left: 20px;
  }

  &__image-container {
    text-align: center;
  }

  &__section {
    margin: 30px 0;
  }

  &__button {
    background-color: $color-primary !important;
    color: white !important;
    margin: 20px auto;
    &--delete {
      background-color: $color-danger !important;
      color: white;
      margin: 20px auto;
    }
  }

  &__file-input {
    max-width: 300px;
    margin: 0 auto;
  }

  &__image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 5vh;
  }

  &__fields {
    &--section-wrapper {
      display: flex;
      flex-direction: column;
      margin: 30px auto;
    }

    &--wrapper {
      display: flex;
      justify-content: space-around;
      @media (max-width: $tablet) {
        flex-direction: column;
        justify-content: center;
      }
    }

    &--titles-wrapper {
      display: flex;
    }

    &--title {
      align-self: center;
      font-family: $open-sans-semibold;
    }

    &--field {
      width: 320px;
    }
  }

  .v-input__icon {
    margin-right: 5px !important;
  }
}
</style>
