<template>
  <div>
    <span>subbed </span>
  </div>
</template>

<script>
import authenticatedRoute from "../mixins/authenticatedRoute";

export default {
  head() {
    return {
      title: this.$t("subbed-projects.title")
    };
  },
  mixins: [authenticatedRoute],
  mounted() {
    this.$store.commit("app/setTitle", this.$t("subbed-projects.title"));
  }
};
</script>
